## 项目的配置
app.address         = :8089
app.secret.key      = GKINS-6B
app.token.expires   = 1h10m20s
app.passwd.salt     = VNA0RZETKupX4TSJMEgjIw
app.shutsmooth      = 60s

## 数据库配置
# charset=utf8mb4
# username:password@protocol(address)/dbname?param=value
db.uri              = zhangsan:123456abc@tcp(192.168.165.88:3306)/gkins?charset=utf8mb4
db.con.max.lifetime = 3m
db.con.max.open     = 10
db.con.max.idle     = 10