<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fksrv</title>
    <link rel="icon" href="{{ url_for('static', filename='imgs/aa.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in.css') }}" type="text/css">
    {% endblock %}
</head>

<body>
    <!-- {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %} -->
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/login.js"></script>
</body>

</html>