[mysqld]
user        = mysql
basedir     = /usr/local/mysql

[mysqld_multi]
mysqld      = /usr/local/mysql/bin/mysqld_safe
mysqladmin  = /usr/local/mysql/bin/mysqladmin

[mysqld1]
mysqld      = mysqld
mysqladmin  = mysqladmin
datadir     = /data/mysql1
port        = 3306
user        = mysql
server_id   = 3306
socket      = /data/mysql1/mysql.sock
log-error   = /data/mysql1/error.log

[mysqld2]
mysqld      = mysqld
mysqladmin  = mysqladmin
datadir     = /data/mysql2
port        = 3307
user        = mysql
server_id   = 3307
socket      = /data/mysql2/mysql.sock
log-error   = /data/mysql2/error.log

[mysqld3]
mysqld      = mysqld
mysqladmin  = mysqladmin
datadir     = /data/mysql3
port        = 3308
user        = mysql
server_id   = 3308
socket      = /data/mysql3/mysql.sock
log-error   = /data/mysql3/error.log

[mysqld4]
mysqld      = mysqld
mysqladmin  = mysqladmin
datadir     = /data/mysql4
port        = 3309
user        = mysql
server_id   = 3309
socket      = /data/mysql4/mysql.sock
log-error   = /data/mysql4/error.log

