## mblog config

# app
app.address=:8084
app.runmode=debug
app.shutsmooth=10
app.security.key=xxxx
app.token.sign=dadfadx
app.token.expored=60


# storage
storage.db.uri='host=192.168.165.88 user=postgres password=123456 dbname=mblog port=5432 sslmode=disable TimeZone=Asia/Shanghai'