# 监听地址(只运行监听本地回环地址,测试时可监听在其他地址,测试完毕关闭)
address = 127.0.0.1:6655

# supervisord守护进程文件配置路径
spath = /etc/supervisord.d
# supervisord守护进程文件配置移除备份路径
sbpath = /etc/supervisord.d/back/
# 执行命令的路径
cmdexpath = /path/xxxxx

# 系统资源监控阈值,当系统资源到达指定阈值不再接收创建新的守护进程
cpu = 70.00
mem = 70.00

# ip白名单(只允许本地回环地址访问,测试时可以开放其他地址,测试完毕关闭)
# 当包含all时，放行所有ip地址
whiteip = 127.0.0.1
