{
  "CN": "kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "ST": "Sichuan",
      "L": "Chengdu",
      "O": "Kubernetes",
      "OU": "Kubernetes-manual"
    }
],
  "ca": {
    "expiry": "{{ expired_time }}"
  }
}