{
  "CN": "etcd",
  "hosts": [
    {%- for host in etcd_hosts -%}
    "{{ host }}"{% if not loop.last -%},{% endif -%}
    {% endfor -%}
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "ST": "Sichuan",
      "L": "Chengdu",
      "O": "etcd",
      "OU": "Etcd Security"
    }
  ]
}