<div class="p-4">
    <h1>user Page</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>名字</th>
            <th>邮箱</th>
            <th>权限</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>01</td>
            <td>张三</td>
            <td>zhangsan@gkins.com</td>
            <td>普通用户</td>
        </tr>
        <tr>
            <td>02</td>
            <td>李四</td>
            <td>lisi@gkins.com</td>
            <td>普通用户</td>
        </tr>
        <tr>
            <td>03</td>
            <td>王五</td>
            <td>wangwu@gkins.com</td>
            <td>管理员</td>
        </tr>
        </tbody>
    </table>
</div>