## 配置

app.address=:8077
# debug|info|warn|error
app.log.level=info
# 生成用户密码的salt
app.passwd.salt=qiethVUgfJLGDxiGz3ZpLA
# token secret key
app.secret.key=msitexxx
# token超时时间: 1h | 1h30m | 1h25m10s
app.token.expires=1h 


# 数据库连接
storage.db.uri=
# <= not close
storage.db.conn.lifetime=0
storage.db.conn.max.idle=10
storage.db.conn.max.open=10